<!DOCTYPE html>
<html lang="en">
<head>
    {{> partials/commonHeaders}}
    {{> partials/projectMetaTags data=data project=automaton 
        desc="A life like automaton which you can change the birth and surviving rules made in JavaScript and HTML Canvas."
    }}
    <title>My projects - Cellular Automaton</title>
</head>
<body>
    <section id="sect_project">
        {{> partials/projectHeader data=data project=automaton}}
        <h2><span class="tilted_bg"><span class="bg">TL ; DR</span></span></h2>
        <p>This was a school exercice that I did in depth. It's a <a href="https://en.wikipedia.org/wiki/Cellular_automaton" target="blank">Cellular automaton</a> which you can change the birth and surviving rules.</p>
        <p>hint:
            <ul>
                <li>Press "P" to pause and hold "A" to set the initial birth on 0.</li>
                <li>Change the rules to B: 1,3 and S: 1,3</li>
                <li>Pres "R" to reset the grid, click on a cell and press "P" to resume the automaton.</li>
                <li>Enjoy alive mandala!</li>
            </ul>
        </p>
        <div class="mockups">
            <img src="../img/automaton-1.jpg" alt="Cellular automaton screenshot" class="screenshot">
            <img src="../img/automaton-2.jpg" alt="Cellular automaton screenshot" class="screenshot">
        </div>
    </section>
</body>
</html>